.Rproj.user
.Rhistory
.RData
.Ruserdata
Allions 141116.R
Angie's scripts/
eic function lrh butcher.R
eic function lrh.R
eic function_test.R
Example xcms script_LRH.R
LauraS_CAMERA_script.R
xsAq.filtered.csv
skylineQC_QE.R
sig.groupnames.csv
RFs_and_R2_with Figures.R
OtherIons.csv
NeutralMassListGenerator_091216.R
NeutralMassListGenerator.R
Mix4_FileNames.csv
Mix4_Compounds.csv
Compounds_Areas_RT_Mix4_TFoutput.csv